#container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 400px;
    height: 400px;
    margin: 20px auto;
    box-sizing: border-box;
}

.square {
    width: 25px; /*because 400px/16 = 25px per quare */
    height: 25px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: lightgray;
}