body {
    text-align: center;
}
#container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 960px;
    height: 960px;
    margin: 20px auto;
    box-sizing: border-box;
}

.square { /* removed width and height, will work with JS */
    border: 1px solid black;
    box-sizing: border-box;
    background-color: lightgray;
}